.background
{
    background-image: url('../../../../assets/battle-background.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 75vh;
    z-index: 0;
    position: relative;
    border-bottom: 3px solid black;
}

.container-cpu
{
    position: absolute;
    width: 22vw;
    height: 22vh;
    z-index: 2;
    background-color: antiquewhite;
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px;
    left: 3vw;
    top: 1vw;
}

ion-progress-bar{
    margin: 0.8vw 0;
    height: 3.5vh;
    --background: white;
    --progress-background:#63E79B;
    border-radius: 20px;
    border: 1px solid black;
}

.damage-cpu{
    position: absolute;
    left: 40vw;
    top: 12vh;
}

.text{
    color: white;
    font-weight: bold;
    font-size: 6vh;
}

.image-cpu{
    position: absolute;
    left: 55vw;
    top: 3vh;
}

.size{
    height: 45vh;
    width: 45vh;
}

.container-player
{
    position: absolute;
    width: 22vw;
    height: 22vh;
    z-index: 2;
    background-color: antiquewhite;
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px;
    left: 75vw;
    top: 50vh;
}

.damage-player{
    position: absolute;
    left: 47vw;
    top: 50vh;
}

.image-player{
    position: absolute;
    left: 20vw;
    top: 28vh;

}

.button{
    position: absolute;
    left: 92vw;
    top: 1vh;
}

ion-icon{
    width: 12vh;
    height: 12vh;
    color: #ADADAD;
}

.mainT{
    font-size: 4vh;
    color: black;
}

.textMove{
    font-size: 7vh;
}

button{
   border: 1px solid black;
   border-radius: 15px;
   height: 6.8vh;
    font-size: 5vh;
    font-weight: bold;
    background-color: white;
   &:disabled{
    background:linear-gradient(to right , #AED7B9 0%, #E4CD6F 100%); 
    color: black;
    } 
}