#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.md .display{
  width: 33.33%;
}
.ios ion-toggle{
  margin-left: 10px;
  margin-right: 16px;
  height: 19px;
  --handle-width: 15px;
  --handle-height: 15px;
  width: 35px;
}
ion-toggle{
  --handle-background: #CDD2D8;
  --handle-background-checked: #FFFFFF;

  --background: #7D8793;
  --background-checked: #DD9237;
}
